body {
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, Sans-serif;
}

.clear {
  clear: both;
}

.italic {
  font-style: italic;
}

#header #cover, #footer #cover {
  float: left;
}

#header .text, #footer .text {
  float: right;
  width: 600px;
}


ol.answers {
  list-style-type: lower-alpha;
}

ol.questions li{
  padding: 10px;
}

ol.answers li {
  padding: 5px;
}

.formError {
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px;
}

#footer {
  margin-top: 20px;
}

.questions .question {
  border: solid 1px #CCCCCC;
  padding: 5px;
  margin-bottom: 5px;
}