body {
  font-family: "Lucida Grande", Tahoma, Verdana, Arial, Sans-serif;
  font-size: 0.9em;
}

.clear {
  clear: both;
}

.italic {
  /* font-style: italic; */
}

.bold {
  font-weight: bold;
}

#header #cover, #footer #cover {
  float: left;
}

#header .text, #footer .text {
  float: right;
  width: 600px;
}

.answers {
  font-size: 0.8em;
}

ol.answers {
  list-style-type: lower-alpha;
}

ol.questions li{
  padding: 10px;
}

ol.answers li {
  padding: 5px;
}

.formError {
  background-color: #FCC;
  border: solid 1px #C66;
  padding: 5px;
}

.error {
  background-color: #FCC;
}

#footer {
  margin-top: 20px;
}

.questions .question {
  border: solid 1px #CCCCCC;
  padding: 5px;
  margin-bottom: 5px;
}

input{
  border-style: solid;
  border-width: 1px;
  border-color: #d9dfea #0e1f5b #0e1f5b #d9dfea;
  background-color: #3b5998;
  color: #fff;
  padding: 2px 15px 3px 15px;
  text-align: center;
}

.ie_hack{
  height: 1px;
  margin-bottom: 20px;
}