<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>Ariza Testi</title>
    <%= stylesheet_link_tag "ariza.css" %>
    <%= javascript_include_tag "jquery.js" %>
  </head>
  <body>
    <%= yield %>
    <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
    <%= javascript_include_tag "application.js" %>
    <div id="ie_hack"> &nbsp;</div>
  </body>
</html>
